<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#008080">
  
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {{ content_for_header }}

  <!-- Windows 98 Theme Stylesheets -->
  {{ 'windows98-theme.css' | asset_url | stylesheet_tag }}
  
  <!-- Preload critical assets -->
  <link rel="preload" href="{{ 'windows98-interactions.js' | asset_url }}" as="script">
  
  <!-- Favicon in Windows 98 style -->
  <link rel="icon" type="image/png" href="{{ 'win98-favicon.png' | asset_url }}">
</head>

<body class="win98-desktop">
  <div id="win98-taskbar" class="win98-taskbar">
    <div class="win98-start-button">Start</div>
    <div class="win98-open-windows">
      {% comment %}Dynamically populated open windows{% endcomment %}
    </div>
    <div class="win98-taskbar-clock">00:00</div>
  </div>

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% section 'win98-footer' %}

  <!-- Windows 98 Interaction Scripts -->
  {{ 'windows98-interactions.js' | asset_url | script_tag }}
  
  <!-- Additional theme scripts -->
  {{ 'global.js' | asset_url | script_tag }}
</body>
</html>
